@charset "utf-8";

@font-face {
	font-family: bev;
	src: url('Bevan.ttf') format('truetype');
}

@font-face {
	font-family: quick-r;
	src: url('Quicksand-Regular.otf') format('opentype');	
}

@font-face {
	font-family: quick-i;
	src: url('Quicksand-Italic.otf') format('opentype');	
}

a {
	color: black;
	font-size: 16px;
	font-family: bev, sans-serif;
}

#link {
	width: 100%;
	text-align: center;
}

div:nth-of-type(-n+3) {
	width: 32%;
	float: left;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #33CCFF;
	font-family: bev, sans-serif;
}

p {
	text-indent: 20px;
	font-size: 20px;
	font-family: quick-r, sans-serif;
}

p:first-of-type ~ p {
	font-family: quick-i, sans-serif;
}

:target {
	border: 1px solid black;
	color: red;
}

a[href^='mail'] {
	background: url('email.png') no-repeat left center;
	display: inline-block;
	padding-left: 20px;
}

h1 {
	background: url('background.jpg');
	background-size: 100%;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: bev;	
}

body {
	background-color: #CCFFFF;
}

div:last-of-type {
	font-size: 20px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width:630px){ 
	a {
		font-size: 14px;
	}
	
	p {
		font-size: 15px;
	}
	
	div {
		height: auto;
		width: 32%;
	}
}

@media screen and (max-width:350px){
	a {
		font-size: 13px;
	}
}

@media screen and (max-width:250px){ 
	a {
		font-size: 12px;
	}
}
