@charset "utf-8";

@font-face {
	font-family: bev;
	src: url('Bevan.ttf') format('truetype');
}

@font-face {
	font-family: quick-r;
	src: url('Quicksand-Regular.otf') format('opentype');	
}

@font-face {
	font-family: quick-i;
	src: url('Quicksand-Italic.otf') format('opentype');	
}

a {
	color: black;
	font-size: 16px;
	font-family: bev, sans-serif;
}

div {
	width: 33%;
	float: left;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #33CCFF;
}

p {
	text-indent: 20px;
	font-size: 20px;
	font-family: quick-r, sans-serif;
}

p:first-of-type ~ p {
	font-family: quick-i, sans-serif;
}

h1 {
	background: url('background.jpg');
	background-size: 100%;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;	
	font-family: bev, sans-serif;
}

body {
	background-color: #CCFFFF;
}

@media screen and (max-width:630px){ 
	div {
		width: 32%;
	}
}

@media screen and (max-width:350px){
	a {
		font-size: 15px;
	}
	
	p {
		font-size: 15px;
	}
	
	div {
		height: 40px;
		width: 32%;
	}
}

@media screen and (max-width:250px){ 
	div {
		height: 60px;
	}
}
